 .place-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 40%;
    max-width: 40rem;
    padding: 3rem 2rem 0;
    
  } 

  .event-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }
  
  
  @media (max-width: 768px) {
    .event-list {
      list-style: none;
      padding: 0; 
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 70px;
    }
  }
